:root{
    --h1_font_fam:"Bungee Shade";
    --h2_font_fam:"Bungee Outline";
    --h3_font_fam:"Barlow Condensed";
    --common_font_fam:"Barlow Semi Condensed";

    --main_font_sz:16px;
    --main_font_sz_dynamic:1.6vw;
    --tablet_phone_font_sz:2.3vw; 
}

*{
    box-sizing: border-box;
}

body{
    background-image: url("../media/images/background3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 30%;   /*50% = x-axeln | 30% = y-axeln*/
    margin:100px 60px;

    display: flex;
    justify-content: center;

    font-family: var(--common_font_fam);
    font-size: (var(--main_font_sz));
}


/*Text settings*/

h1{
    font-family: var(--h1_font_fam);
    font-size: calc(var(--main_font_sz) + 60px);
    margin:0;
    line-height: 1;
}

h2{
    font-family: var(--h2_font_fam);
    font-size: calc(var(--main_font_sz) + 15px);
    line-height: 1;
    margin:0;

}

h3{
    font-family: var(--h3_font_fam);
    font-size: calc(var(--main_font_sz) + 9px);
    margin-top:5px;
    margin-bottom:0px;
}

nav a{
    font-size:calc(var(--main_font_sz) + 8px);
    line-height: 1;
}

p, li{
    margin:0;
    font-size: calc(var(--main_font_sz));
    line-height: 1.2;
}

.text-container > ul{
    margin:55px 0;
}

p > span{
    font-weight: bold;
    font-size: calc(var(--main_font_sz) + 2px);
}

.album-text-container p{
    font-size: calc(var(--main_font_sz) - 3px);
    line-height: 1.25;
}

.grid-container p{
    font-size: calc(var(--main_font_sz) - 1px);
}


/*Wrapper*/
body > div{ 
    max-width: 1080px; /*margin på bodyn = > 60 + 60 + 1080 = 1200 */
    min-width: 780px;  /*margin på bodyn = > 60 + 60 + 780 = 900*/

    background-color: rgba(0, 0, 0, 0.4);
    color:white;
    padding:20px;

    border-radius:20px;

}

/*Navigation*/

nav{
    display: flex;
    gap:5px;
    height: 65px;
    margin:70px 0;
}

nav a{
    flex-grow:1;
    flex-basis: 0;
    
    text-decoration: none;
    color:white;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

nav a:nth-child(2){
    box-shadow: 0px 0px 5px 1px white;
    border:1px solid white;
    font-family: "Barlow semi Condensed Bold";
}

nav a:not(:nth-child(2)):hover{                 /*Every a except the second one*/
    background-color:rgba(255, 255, 255, 0.8) ;
    color:rgb(0, 0, 0);
}


/*Main part */

main{
    display: flex;
    flex-direction: column;
    gap:20px;
}

main section{
    border:1px solid white;
    border-radius: 20px; 
    padding:15px;

    background-color: rgba(0, 0, 0, 0.4);
}

/*images*/

main img{
    width: 100%;
    height: 100%;

    object-fit:cover;

    border-radius: 20px 20px 0px 0px;
}

main img:nth-child(2):hover{    /*The second image is the visible one and the one on top*/
    opacity: 0;
}

main img:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    bottom:0;

    opacity:1;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

#grid-image1, #grid-image2{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: end;
}


/*The layout */
main .grid-outer-container{
    display: grid;
    grid-template-columns: 2fr 1.3fr;   /*The fractions between the text and image*/
    gap:15px;
}

/*Album image and text layout and settings*/

main .flex-album-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

main .flex-album-container div{
    flex-grow: 1;  /*This makes the Tablet version and does not affect desktop*/
}

main .flex-album-container > div:nth-child(1){
    position: relative;
    line-height: 0;    /*It has a default number that makes the images not width = height*/
}

main .album-text-container{
    display: flex;
    gap:10px;
}

main .album-text-container div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;           
    flex-basis: 0;          /*Compeles the divs to start from zero*/

    padding:15px;
}

main .album-text-container > div:nth-child(1){
    border-bottom-left-radius: 20px;    
}

main .album-text-container > div:nth-child(2){
    border-bottom-right-radius: 20px;
}


/*The grid container at the bottom of each page*/


main .grid-container{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: 190px;
    gap:3px;
    margin-top:10px;
}   

main .grid-container > div{
    padding:15px;
    background-color: #373737;
    border-radius: 20px; 

    display: flex;
    align-items: center;
    justify-content: center;
}


/*Musicians list settings*/


main .grid-outer-container > div > ul{
    padding:0;
}

main ul li{
    list-style-type: none;
}

/*footer */

footer p{
    margin-top:70px;
}


/*Imported Fonts */



@font-face {
    font-family:"Barlow semi Condensed";
    src: url("../media/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf");
}

@font-face {
    font-family: "Barlow semi Condensed Bold";
    src: url("../media/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
}

@font-face {
    font-family:"Barlow Condensed";
    src: url("../media/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
}

@font-face {
    font-family:"Bungee Outline";
    src: url("../media/fonts/Bungee_Outline/BungeeOutline-Regular.ttf");
}

@font-face {
    font-family:"Bungee Shade";
    src: url("../media/fonts/Bungee_Shade/BungeeShade-Regular.ttf");
}