
/*The first stage that makes the text dynamic*/

@media (max-width:1100px){

    h1{ font-size: calc(var(--main_font_sz_dynamic) + 5.5vw);
    }
    
    h2{
        font-size: calc(var(--main_font_sz_dynamic) + 1.4vw);    
    }
    
    h3{
        font-size: calc(var(--main_font_sz_dynamic) + 0.8vw);
    }
    
    nav a{
        font-size:calc(var(--main_font_sz_dynamic) + 0.72vw);
    }
    
    p, li{
        font-size: var(--main_font_sz_dynamic);
    }
    
    span{
        font-size: calc(var(--main_font_sz_dynamic) + 0.2vw);
    }
    
    .album-text-container p{
        font-size: calc(var(--main_font_sz_dynamic) - 0.5vw);
    }
    
    .grid-container p{
        font-size: calc(var(--main_font_sz_dynamic) - 0.2vw);
    }
}

/*Tablet läge*/

@media (min-width:501px) and (max-width:800px){

    body{
        background-image: none;
    }

    /*wrapper | makes the min-width from 780px to 500px*/

    body > div{
        min-width: 500px;
    }

    /*text settings*/

    h1{ 
        font-size: calc(var(--tablet_phone_font_sz) + 9vw);
        text-align: center;
    }
    
    h2{
        font-size: calc(var(--tablet_phone_font_sz) + 2.8vw);    
    }
    
    h3{
        font-size: calc(var(--tablet_phone_font_sz) + 2vw);
    }
    
    nav a{
        font-size:calc(var(--tablet_phone_font_sz) + 1vw);
    }
    
    p, li{
        font-size: var(--tablet_phone_font_sz);
    }
    
    p > span{
        font-size: calc(var(--tablet_phone_font_sz) + 1vw);
    }
    
    .album-text-container p{
        font-size: calc(var(--tablet_phone_font_sz) - 0.1vw);
    }
    
    .grid-container p{
        font-size: calc(var(--tablet_phone_font_sz) - 0.3vw);
    }

    /*Two list's items are gone in tablet mode*/

    section:nth-child(1) .album-text-container div:first-child p:nth-child(7){
        display: none;
    }

    section:nth-child(1) .album-text-container div:last-child p:nth-child(6){
        display: none;
    }

    main .grid-outer-container{
        grid-template-columns: auto;
        grid-template-rows:auto auto;   /*The rows are relative to the content*/
    }

    main .flex-album-container {
        grid-row:1;             /*Changes the order*/
        flex-direction: row;
    }

    main .flex-album-container > div:first-child{
        width: 40vw;        /*Makes the image-container change size */
    }

    main .album-text-container{
        flex-direction: column;
    }

    main .flex-album-container div:nth-child(1) img{border-radius:20px 0px 0px 20px;}
    main .flex-album-container div:nth-child(2) div:nth-child(1){border-radius:0px 20px 0px 0px;}
    main .flex-album-container div:nth-child(2){border-radius:0px 0px 20px 0px;}

    main .grid-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(2, 190px);
    }

    /*page 1 grid cells/areas*/

    main section:nth-child(1) .grid-container div:nth-child(4){
        grid-column: 3;
        grid-row:2;
    }

    main #grid-image1{
        grid-column: 2;
        grid-row:2;
    }

    /*page 2 grid cells/areas*/

    main section:nth-child(2) .grid-container div:nth-child(4){
        grid-column:4;
        grid-row: 2;
    }

    main #grid-image2{
        grid-column:2 / span 2;
        grid-row:2;
    }
}


/*Phone mode*/

@media (max-width:501px){
    body{
        background-image: url("../media/images/background-phone.webp");
        margin:0;
    }

    /*wrapper | makes the min-width from 780px to 0px*/

    body > div{
        min-width: 0px;
        border-radius: 0px;
    }

    /*text settings*/

    h1{ 
        font-size: calc(var(--tablet_phone_font_sz) + 13vw);
        text-align: center;
    }
    
    h2{
        font-size: calc(var(--tablet_phone_font_sz) + 5vw);    
    }
    
    h3{
        font-size: calc(var(--tablet_phone_font_sz) + 3vw);
    }
    
    nav a{
        font-size:calc(var(--tablet_phone_font_sz) + 1vw);
    }
    
    p, li{
        font-size: calc(var(--tablet_phone_font_sz) + 1.5vw);
    }
    
    p > span{
        font-size: calc(var(--tablet_phone_font_sz) + 1.8vw);
    }
    
    .album-text-container p{
        font-size: calc(var(--tablet_phone_font_sz) + 0.6vw);
    }
    
    .grid-container p{
        font-size: calc(var(--tablet_phone_font_sz) + 0.6vw);
    }

    main .grid-outer-container{
        grid-template-columns: auto;
        grid-template-rows: auto auto; /*Is relative to the content*/
    }

    main .flex-album-container{
        grid-row: 1;    /*changes the order*/
    }

    main .album-text-container div:nth-child(1){border-radius: 0px 0px 0px 20px;}
    main .album-text-container div:nth-child(2){border-radius: 0px 0px 20px 0px;}

    
    main .grid-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat(2, 190px);
    }

    /*page 1 grid cells/areas*/

    main section:nth-child(1) .grid-container div:nth-child(2){
        grid-column:2 / span 2;
        grid-row:1;
    }

    main section:nth-child(1) .grid-container div:nth-child(3){
        grid-column: 2;
        grid-row:2;
    }

    main section:nth-child(1) .grid-container div:nth-child(4){
        grid-column:3;
        grid-row:2;
    }

    /*page 2 grid cells/areas*/


    main section:nth-child(2) #grid-image2{
        grid-column:1 / span 2;
        grid-row:2;
    }
}





