:root{
    --h1_font_fam:"Bungee Shade";
    --h2_font_fam:"Bungee Outline";
    --h3_font_fam:"Barlow Condensed";
    --common_font_fam:"Barlow Semi Condensed";


    --big_image_size:;
}


@font-face {
    font-family:"Barlow semi Condensed";
    src: url("fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf");
}

@font-face {
    font-family:"Barlow Condensed";
    src: url("fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
}

@font-face {
    font-family:"Bungee Outline";
    src: url("fonts/Bungee_Outline/BungeeOutline-Regular.ttf");
}

@font-face {
    font-family:"Bungee Shade";
    src: url("fonts/Bungee_Shade/BungeeShade-Regular.ttf");
}

*{
    box-sizing: border-box;
}

body{
    background-image: url("images/background3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 30%;
    margin:100px 60px;

    display: flex;
    justify-content: center;

    font-family: var(--common_font_fam);
}



/*Font size and font family*/

h1{
    font-family: var(--h1_font_fam);
}

h2{
    font-family: var(--h2_font_fam);
}

h3{
    font-family: var(--h3_font_fam);
}

p{
    margin:0;
}


/*Wrapper*/
body > div{ 
    max-width: 1080px; /*margin på bodyn = > 60 + 60 + 1080 = 1200 */
    min-width: 780px;  /*margin på bodyn = > 60 + 60 + 780 = 900*/

    background-color: rgba(0, 0, 0, 0.4);
    color:white;
    padding:20px;

    border-radius:20px;
}

nav{
    display: flex;
    gap:5px;
    height: 65px;
    margin:40px 0;
}

nav a{
    flex-grow:1;
    flex-basis: 0;
    
    text-decoration: none;
    color:white;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}

nav a:nth-child(2){
    box-shadow: 0px 0px 5px white;
    border:1px solid white;
    font-weight: 800;
}

nav a:not(:nth-child(2)):hover{
    background-color:rgba(255, 255, 255, 0.8) ;
    color:rgb(0, 0, 0);
}


/*Main part */

main section{
    border:1px solid white;
    border-radius: 20px; 
    padding:15px;

    background-color: rgba(0, 0, 0, 0.4);
}

main img{
    width: 100%;
    height: 100%;

    object-fit:cover;

    border-radius: 20px 20px 0px 0px;
}

main img:nth-child(2):hover{
    opacity: 0;
}

main img:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    bottom:0;

    opacity:1;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

main .grid-outer-container{
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap:15px;
}

.flex-inner-album-container{
    display: flex;
    flex-direction: column;
}

main .flex-inner-album-container > div:nth-child(1){
    position: relative;
}

main .flex-inner-album-container > div:nth-child(2){
    display: flex;
    gap:10px;

    margin:10px 0;
}

main .flex-inner-album-container > div:nth-child(2) div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;

    padding:15px;

    background-color: rgb(255, 255, 255);
    color:black;
}

main .flex-inner-album-container > div:nth-child(2) > div:nth-child(1){
    border-bottom-left-radius: 20px;
}


main .flex-inner-album-container > div:nth-child(2) > div:nth-child(2){
    border-bottom-right-radius: 20px;
}

main .grid-container{
    display:grid;
    grid-template-columns:repeat(6, 1fr);
    gap:3px;
}   

main .grid-container > div{
    padding:30px 10px;
    background-color: #373737;
    border-radius: 20px;

    display: flex;
    align-items: center;
}

.text-container > ul{
    padding:0;
}

.text-container ul li{
    list-style-type: none;
}

/*Page 1*/

main section:nth-child(1) .grid-container div:nth-child(2){
    grid-column:3 / span 2;
}

section:nth-child(1) .grid-container div:nth-child(1){border-top-right-radius: 0px;}
section:nth-child(1) .grid-container div:nth-child(2){border-bottom-left-radius: 0px;}
section:nth-child(1) .grid-container div:nth-child(3){border-top-left-radius: 0px;}
section:nth-child(1) .grid-container div:nth-child(4){border-bottom-right-radius: 0px;}

main #grid-image1{
    background-image: url("images/fleetwood-members2.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: end;
}



/*page 2*/

main section:nth-child(2) .grid-container > div{
    background-color: #dfdad1;
}

main section:nth-child(2) .grid-container > div{
    color: black;
}

main section:nth-child(2) .grid-container div:nth-child(1){
    grid-column: 1 / span 2;
}

section:nth-child(2) .grid-container div:nth-child(1){border-bottom-left-radius: 0px;}
section:nth-child(2) .grid-container div:nth-child(2){border-top-left-radius: 0px;}
section:nth-child(2) .grid-container div:nth-child(3){border-top-left-radius: 0px;}
section:nth-child(2) .grid-container div:nth-child(4){border-bottom-right-radius: 0px;}


main #grid-image2{
    background-image: url("images/fleetwood-members.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: end;

    grid-column:4 / span 2;

    color:#dfdad1;
}



/*Tablet läge*/

@media (min-width:500px) and (max-width:800px){

    body{
        background-image: none;
    }

    body > div{
        max-width: 800px;
        min-width: 500px;
    }

    main .grid-outer-container{
        grid-template-columns: auto;
        grid-template-rows:1.2fr 2fr;
    }

    main .flex-inner-album-container {
        grid-row:1;
    }

    main .flex-inner-album-container div:nth-child(2){
        flex-direction: column;
    }

    main .grid-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(auto auto);
    }

    /*page 1 grid cells/areas*/

    main section:nth-child(1) .grid-container div:nth-child(4){
        grid-column: 3;
        grid-row:2;
    }

    main #grid-image1{
        grid-column: 2;
        grid-row:2;
    }

    /*page 2 grid cells/areas*/

    main section:nth-child(2) .grid-container div:nth-child(4){
        grid-column:4;
        grid-row: 2;
    }

    main #grid-image2{
        grid-column:2 / span 2;
        grid-row:2;
    }
}


/*Phone mode*/

@media (max-width:500px){
    body{
        background-image: url("images/background-phone.webp");
        margin:0;
    }

    body > div{
        max-width:500px;
        min-width: 0px;
    }

    main .grid-outer-container{
        flex-direction: column;
    }

    main .flex-inner-text-container{
        order:2;
    }

    main .flex-inner-album-container{
        flex-direction: column;

        order:1;
    }

    main .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:auto auto;
    }

    /*page 1 grid cells/areas*/

    main section:nth-child(1) .grid-container div:nth-child(2){
        grid-column:2 / span 2;
        grid-row:1;
    }

    main section:nth-child(1) .grid-container div:nth-child(3){
        grid-column: 2;
        grid-row:2;
    }

    main section:nth-child(1) .grid-container div:nth-child(4){
        grid-column: 3;
        grid-row:2;
    }

    /*page 2 grid cells/areas*/


    main section #grid-image2{
        grid-column:1 / span 2;
        grid-row:2;
    }



    
}





